# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.env
.venv
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Dataset
*.xls
*.xlsx
*.csv
data/

# Models
*.pkl
*.joblib

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
